.enotif-sidenav {
    position: fixed;
    width: 220px;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: var(--slate-200);
    z-index: 999;
    transition: all 0.3s;

    .close-mobile-menu {
        position: absolute;
        border: none;
        background-color: var(--red-500);
        color: #fff;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        display: none;
        justify-content: center;
        align-items: center;
        right: -20px;
        top: 20px;
    }

    .logo-wrapper {
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    nav {
        > ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;

            > li {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding-left: 25px;

                .icon {
                    position: relative;
                    top: -1px;

                    svg path { 
                        transition: all 0.3s;
                    }
                }

                a {
                    display: block;
                    width: 100%;
                    padding: 10px;
                    text-decoration: none;
                    font-weight: 600;
                    color: var(--slate-500);
                    font-size: 14px;
                    letter-spacing: -0.02em;
                    transition: all 0.3s;
                }

                &:hover {
                    > a, .parent a { color: var(--green-500); }
                    svg path { fill: var(--green-500);}

                }

                &.has-submenu {
                    flex-direction: column;
                    align-items: flex-start;

                    .parent {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    > a {
                        pointer-events: none;
                    }

                    ul {
                        margin: -5px 0 0;
                        padding: 0 0 5px 15px;
                        list-style: none;

                        li {
                            a {
                                padding: 7px 10px;
                            }

                            &:hover {
                                a, .parent a { color: var(--green-500); }
                                svg path { fill: var(--green-500);}
            
                            }
                        }
                    }

                    &.active {
                        &:after {
                            top: 12px;
                        }

                    }

                }

                &.active {
                    > a, .parent a { color: var(--green-500); }
                    svg path { fill: var(--green-500);}

                    &:after {
                        content: '';
                        background-color: var(--green-500);
                        width: 3px;
                        height: 16px;
                        border-radius: 3px 0 0 3px;
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }
    }

    .logout-btn {
        border: none;
        background: transparent;
        width: 100%;
        padding: 20px;
        background-color: var(--red-100);
        color: var(--red-500);
        font-weight: 500;
        position: absolute;
        bottom: 0;
        text-align: left;
        transition: all 0.3s;

        &:hover {
            background-color: var(--red-500);
            color: #fff;
        }
    }
}

.enotif-top-bar {
    width: calc(100% - 220px);
    margin-left: auto;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;

    .btn-trigger-mobile-menu {
        border: none;
        background: transparent;
        background-color: var(--red-500);
        color: #fff;
        padding: 15px 20px;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 0 0 5px 0;
        font-weight: 500;
        display: none;
        transition: all 0.3s;

        &:active {
            background-color: var(--red-600);
            transform: scale(0.98);
        }

        svg {
            margin-right: 5px;
            position: relative;
            top: -2px;
        }
    }

    .user-profile-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 70px;

        span {
            font-weight: 600;
            margin-left: 10px;
        }
    }

    .page-title {
        h2 {
            font-size: 22px;
            margin-bottom: 0;
            letter-spacing: -0.02em;
        }
    }

    .logout-btn {
        border: none;
        background: transparent;
        padding: 15px;
        background-color: var(--green-100);
        color: var(--green-500);
        font-weight: 500;
        position: absolute;
        text-align: left;
        transition: all 0.3s;
        top: 0;
        right: 0;
        border-radius: 0 0 0 5px;

        &:hover {
            background-color: var(--green-500);
            color: #fff;
        }
    }
}

main.enotif-main-body {
    position: relative;
    width: calc(100% - 220px);
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
    min-height: calc(100vh - 165px);
}

footer {
    position: relative;
    width: calc(100% - 220px);
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;
    margin-top: 30px;
    color: #9D9CA3;
    font-size: 13px;
}

.form-search {
    .button-wrapper {
        margin-top: 28px;
        button {
            width: 100%;
            font-size: 14px;
            height: 40px;
            font-weight: 600;
        }
    }
}

@import "./Tab.scss";
@import "./Form.scss";
@import "./Modal.scss";
@import "./Responsive.scss";
